.pic {
	position: absolute;
	left: 140px;
	top: 80px;
	background-image: url(nasx1.jpg);
	background-size: contain;
	width: 360px;
	height: 470px;	
}

.words {
	font-family: 'Crimson Text', serif;
	position: absolute;
	width: 350px;
	height: 300px;
	top: 230px;
	left: 600px;
}

.h {
	font-family: 'Rye', cursive;
	position: absolute;
	left: 600px;
	top: 130px;
	font-size: 45px;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(200,200,200);
}

.home {
	position: absolute;
	top: 560px;
	left: 1100px;
	font-family: 'Rye', cursive;
	font-size: 25px;
}